<mat-toolbar color="primary" class="mat-elevation-z3">
  <button mat-icon-button (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Angular Material</span>
  <span class="example-spacer"></span>
  <button
    mat-fab
    color="primary"
    aria-label="Example icon button with a home icon"
    routerLink=""
  >
    <mat-icon>home</mat-icon>
  </button>

  <button mat-button [matMenuTriggerFor]="menu">Menu</button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>Item 1</button>
    <button mat-menu-item [matMenuTriggerFor]="item2">Item 2</button>
    <mat-menu #item2="matMenu">
      <button mat-menu-item>Order</button><button mat-menu-item>Cart</button
      ><button mat-menu-item>Delivery</button>
    </mat-menu>
  </mat-menu>
  <button mat-raised-button color="accent" [routerLink]="'/input'">
    Input
  </button>
  <button mat-button [routerLink]="'/autocomplete'">AutoComplete</button>
  <button mat-button [routerLink]="'/about'">About</button>

  <button mat-icon-button [matMenuTriggerFor]="list">
    <mat-icon>toc</mat-icon>
  </button>

  <mat-menu #list="matMenu">
    <button mat-menu-item><mat-icon>flight_takeoff</mat-icon>Radial</button>
    <button mat-menu-item><mat-icon>voicemail</mat-icon>Check point</button>
    <button mat-menu-item>
      <mat-icon>notifications_off</mat-icon>Disabled alert
    </button>
  </mat-menu>
</mat-toolbar>

<mat-drawer-container autosize>
  <mat-drawer #drawer opened="true" mode="side" position="start">
    <mat-nav-list>
      <mat-list-item>
        <button mat-button [routerLink]="'card'">
          <mat-icon>credit_card</mat-icon>Card example
        </button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button [routerLink]="'slider'">
          <mat-icon>slideshow </mat-icon>Slider
        </button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button><mat-icon>settings </mat-icon>Setting</button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button><mat-icon>help </mat-icon>Help</button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button><mat-icon>analytics </mat-icon>Analytics</button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button><mat-icon>favorites </mat-icon>Favorites</button>
      </mat-list-item>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
    <div style="text-align: center; min-height: 900px">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
