<h2>Please rate yourself in the range of 1 to 10</h2>
<mat-slider
  min="1"
  max="10"
  step="1"
  class="mat-slide"
  discrete="true"
  showTickMarks="true"
>
  <input matSliderThumb [(ngModel)]="selectedvalue" /> </mat-slider
><br />
<label for="">Selected slider value is {{ selectedvalue }}</label>

<h2>Please choose your availability from range</h2>
<mat-slider
  min="1"
  max="24"
  step="0.5"
  class="mat-slide"
  discrete="true"
  showTickMarks="true"
>
  <input matSliderStartThumb [(ngModel)]="startValue" />
  <input matSliderEndThumb [(ngModel)]="endValue" /> </mat-slider
><br />
<span for=""> Available from {{ startValue }}</span> &nbsp;&nbsp;
<span for="">to {{ endValue }}</span>
