<mat-card class="card-class">
  <mat-card-header
    ><mat-card-title>Vishwas Material learning</mat-card-title>
    <mat-card-subtitle>Angular Material UI</mat-card-subtitle>
  </mat-card-header>
  <img
    mat-card-image
    src="https://material.angular.io/assets/img/examples/shiba2.jpg"
    alt="Photo of a Shiba Inu"
  />

  <mat-card-content>
    <p>
      Title of a card, intended for use within This component is an optional
      convenience for one variety of card title; any custom title element may be
      used in its place. MatCardTitle provides no behaviors, instead serving as
      a purely visual treatment. Sub-title of a card, intended for use within
      beneath a . This component is an optional convenience for use with other
      convenience elements, such as MatCardSubtitle provides no behaviors,
      instead serving as a purely visual treatment. Selector
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button><mat-icon>thumb_up</mat-icon>Like</button>
    <button mat-button><mat-icon>share</mat-icon>Share</button>
  </mat-card-actions>
  <mat-card-footer> </mat-card-footer>
</mat-card>
