<h2>Angular Material- Input</h2>

<mat-form-field class="example-full-width">
  <input matInput type="text" placeholder="Enter your name" />
</mat-form-field>

<mat-form-field>
  <mat-label>Choose one</mat-label>

  <mat-select>
    <mat-option *ngFor="let food of foods" [value]="food.value">
      {{ food.viewValue }}
    </mat-option>
  </mat-select>
</mat-form-field>

<form class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label>Favorite food</mat-label>
    <input matInput placeholder="Ex. Pizza" value="Sushi" />
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Leave a comment</mat-label>
    <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
  </mat-form-field>
</form>
