<!-- <mat-card-header>
  <div style="margin: 2%; text-align: right">
    <button mat-raised-button color="primary" (click)="addPost()">
      Add Post
    </button>
  </div>
</mat-card-header>
<table mat-table [dataSource]="posts" class="mat-elevation-z8">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>Id</th>
    <td mat-cell *matCellDef="let element">{{ element.id }}</td>
  </ng-container>
  <ng-container matColumnDef="createdAt">
    <th mat-header-cell *matHeaderCellDef>Created At</th>
    <td mat-cell *matCellDef="let element">{{ element.createdAt }}</td>
  </ng-container>
  <ng-container matColumnDef="first_name">
    <th mat-header-cell *matHeaderCellDef>First Name</th>
    <td mat-cell *matCellDef="let element">{{ element.first_name }}</td>
  </ng-container>
  <ng-container matColumnDef="last_name">
    <th mat-header-cell *matHeaderCellDef>Las Name</th>
    <td mat-cell *matCellDef="let element">{{ element.last_name }}</td>
  </ng-container>
  <ng-container matColumnDef="emailId">
    <th mat-header-cell *matHeaderCellDef>Email Id</th>
    <td mat-cell *matCellDef="let element">{{ element.emailId }}</td>
  </ng-container>

  <ng-container matColumnDef="age">
    <th mat-header-cell *matHeaderCellDef>Age</th>
    <td mat-cell *matCellDef="let element">{{ element.age }}</td>
  </ng-container>
  <ng-container matColumnDef="gender">
    <th mat-header-cell *matHeaderCellDef>Gender</th>
    <td mat-cell *matCellDef="let element">{{ element.gender }}</td>
  </ng-container>
  <ng-container matColumnDef="mobilenumber">
    <th mat-header-cell *matHeaderCellDef>Mobile number</th>
    <td mat-cell *matCellDef="let element">{{ element.mobilenumber }}</td>
  </ng-container>
  <ng-container matColumnDef="adhaar_no">
    <th mat-header-cell *matHeaderCellDef>Adhaar No</th>
    <td mat-cell *matCellDef="let element">{{ element.adhaar_no }}</td>
  </ng-container>
  <ng-container matColumnDef="pan_no">
    <th mat-header-cell *matHeaderCellDef>pan_no</th>
    <td mat-cell *matCellDef="let element">{{ element.pan_no }}</td>
  </ng-container>

  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef>Action</th>
    <td mat-cell *matCellDef="let element">
      <button mat-raised-button color="primary">Edit</button>
      <button mat-raised-button color="warn">Delete</button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

<mat-card-footer>
  <mat-paginator
    [pageSize]="100"
    [pageSizeOptions]="[5, 10, 25, 100]"
    aria-label="Select page"
  >
  </mat-paginator>
</mat-card-footer> -->

<mat-card>
  <mat-card-header style="text-align: right">
    <button color="primary" mat-raised-button (click)="addUser()">
      <mat-icon>open_in_browser </mat-icon>Add user to Table
    </button>
  </mat-card-header>
  <mat-card-content>
    <table matSort mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="code">
        <th mat-sort-header mat-header-cell *matHeaderCellDef>Code</th>
        <td mat-cell *matCellDef="let element">{{ element.code }}</td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-sort-header mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
      </ng-container>

      <ng-container matColumnDef="phone">
        <th mat-sort-header mat-header-cell *matHeaderCellDef>Phone</th>
        <td mat-cell *matCellDef="let element">{{ element.phone }}</td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-sort-header mat-header-cell *matHeaderCellDef>Email</th>
        <td mat-cell *matCellDef="let element">{{ element.email }}</td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-sort-header mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let element">{{ element.status }}</td>
      </ng-container>
      <ng-container matColumnDef="action">
        <th mat-sort-header mat-header-cell *matHeaderCellDef>Action</th>
        <td mat-cell *matCellDef="let element">
          <button
            (click)="editCustomer(element.code)"
            mat-raised-button
            color="primary"
          >
            Edit
          </button>
          <button mat-raised-button color="warn">Delete</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </mat-card-content>
  <mat-card-footer>
    <mat-paginator
      [pageSizeOptions]="[5, 10, 15]"
      showFirstLastButtons
    ></mat-paginator>
  </mat-card-footer>
</mat-card>
